<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
	<head>
	    <title>mystudio</title>
	</head>
	<body>
	    <div class="users-new-wrapper" layout:fragment="contents">
	        <div class="container">
	            <div class="row p-form-top d-none d-lg-block d-xl-block d-xxl-block"></div>
	            <div class="row">
	                <main class="col-md-4 mx-auto">
	                    <form method="get" th:action="@{/topics}">
							<input type="submit" value="ログインする" 
							       style="color: magenta; background-color: transparent; border: 2px solid magenta; padding: 15px 100px; font-size: 16px; border-radius: 5px; cursor: pointer;">
	                    </form>
	                </main>
	            </div>
	        </div>
	    </div>
	</body>
</html>