<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>mystudio</title>
</head>

<body>
	<div class="pages-index-wrapper text-center" layout:fragment="contents">
		<div class="container">
			<div class="row p-form-top d-block"></div>
			<h1 class="text-red" th:text="#{pages.index.lead.1}">mystudio</h1>
			<h2 class="text-red" th:text="#{pages.index.lead.2}">Let's play the piano</h2>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-6">
						<a class="btn btn-outline-light w-100 mb-2" href="/users/new" 
						   style="background-color: pink; color: white;">
						    新規登録
						</a>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-12 col-md-6">
						<a class="btn btn-outline-light w-100" href="/login"
							style="background-color: pink; color: white">
							ログイン
						</a>
					</div>
				</div>
			</div>
			<div>
			</div>
		</div>
	</div>
</body>

</html>